/* main page */
html, body { margin: 0; padding: 0; }

body {
  background-color: #F5F5F5;
}

a {
  color: #b8b7ad;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

header {
  width: 100%;
  background-color: #252831;
  text-align: center;
  padding: 23px 10px;
}

header h1 {
  margin: auto;
  color: #fff;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#places-filter {
  height: 20px;
  width: 140px;
  margin-bottom: 0.6em;
  box-sizing:  content-box;
  margin-left: 32px;
}

#filter-btn {
  height: 26px;
  color: #fff;
  background-color: #336699;
  border: none;
  padding: 0px 10px;
}

#opennav {
  float:left;
  background-color: #252831;
  border: none;
  color: white;
}

/* Nav */

.closebtn {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    visibility: hidden;
}

.sidenav a, .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
}

.sidenav a:hover, .sidenav a:focus, .sidenav button:hover, .sidenav button:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
